<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlacklistedMeaningsByMeaning</key>
	<dict/>
	<key>SceneWhitelist</key>
	<array>
		<string>毕业会</string>
		<string>水族馆</string>
		<string>食物</string>
		<string>滑冰</string>
		<string>山脉</string>
		<string>悬崖</string>
		<string>篮球</string>
		<string>网球</string>
		<string>珠宝</string>
		<string>乳酪</string>
		<string>垒球</string>
		<string>足球</string>
		<string>马戏</string>
		<string>水上摩托车</string>
		<string>运动场</string>
		<string>旋转木马</string>
		<string>漆弹游戏</string>
		<string>风帆冲浪</string>
		<string>帆船</string>
		<string>日光浴</string>
		<string>水坝</string>
		<string>壁炉</string>
		<string>花朵</string>
		<string>水肺潜水</string>
		<string>徒步</string>
		<string>鲸类动物</string>
		<string>直码头</string>
		<string>保龄球</string>
		<string>滑板滑雪</string>
		<string>动物园</string>
		<string>雪地机动车</string>
		<string>剧院</string>
		<string>船</string>
		<string>赌场</string>
		<string>汽车</string>
		<string>潜水</string>
		<string>骑车</string>
		<string>乐器</string>
		<string>棋盘游戏</string>
		<string>城堡</string>
		<string>日落日出</string>
		<string>武术</string>
		<string>摩托车越野</string>
		<string>潜水艇</string>
		<string>猫</string>
		<string>雪</string>
		<string>风筝滑水</string>
		<string>壁球运动</string>
		<string>间歇泉</string>
		<string>音乐</string>
		<string>射箭</string>
		<string>沙漠</string>
		<string>二十一点</string>
		<string>焰火</string>
		<string>跑车</string>
		<string>猫科动物</string>
		<string>英式足球</string>
		<string>博物馆</string>
		<string>婴孩</string>
		<string>击剑运动</string>
		<string>铁路</string>
		<string>纳斯卡赛车</string>
		<string>空中滑板</string>
		<string>鸟</string>
		<string>游戏</string>
		<string>棒球</string>
		<string>盛装舞步</string>
		<string>浮潜</string>
		<string>金字塔</string>
		<string>风筝</string>
		<string>划艇</string>
		<string>高尔夫</string>
		<string>水上运动</string>
		<string>闪电</string>
		<string>峡谷</string>
		<string>礼堂</string>
		<string>夜空</string>
		<string>卡拉OK</string>
		<string>滑雪</string>
		<string>庆祝游行</string>
		<string>森林</string>
		<string>热气球</string>
		<string>舞龙</string>
		<string>复活节彩蛋</string>
		<string>纪念碑</string>
		<string>丛林</string>
		<string>感恩节</string>
		<string>赛马</string>
		<string>体育场</string>
		<string>飞机</string>
		<string>芭蕾</string>
		<string>瑜伽</string>
		<string>珊瑚礁</string>
		<string>溜冰</string>
		<string>摔跤</string>
		<string>脚踏车</string>
		<string>纹身</string>
		<string>游乐园</string>
		<string>独木舟</string>
		<string>啦啦队</string>
		<string>乒乓</string>
		<string>钓鱼</string>
		<string>魔法</string>
		<string>爬行动物</string>
		<string>冬季运动</string>
		<string>瀑布</string>
		<string>火车</string>
		<string>盆景</string>
		<string>冲浪</string>
		<string>狗</string>
		<string>蛋糕</string>
		<string>滑雪橇</string>
		<string>沙堡</string>
		<string>冰川</string>
		<string>灯塔</string>
		<string>马术</string>
		<string>漂流</string>
		<string>岸</string>
		<string>曲棍球</string>
		<string>圣诞老人</string>
		<string>一级方程式赛车</string>
		<string>运动</string>
		<string>车辆</string>
		<string>拳击</string>
		<string>轮滑</string>
		<string>水下</string>
		<string>管弦乐队</string>
		<string>狂欢节</string>
		<string>火箭</string>
		<string>滑板运动</string>
		<string>直升机</string>
		<string>演出</string>
		<string>啤酒节</string>
		<string>水球</string>
		<string>滑板运动场</string>
		<string>动物</string>
		<string>夜店</string>
		<string>弦乐器</string>
		<string>恐龙</string>
		<string>体操</string>
		<string>板球运动</string>
		<string>火山</string>
		<string>湖泊</string>
		<string>极光</string>
		<string>舞蹈</string>
		<string>音乐会</string>
		<string>攀岩</string>
		<string>滑翔翼</string>
		<string>牛仔竞技</string>
		<string>鱼</string>
		<string>艺术</string>
		<string>摩托车</string>
		<string>排球</string>
		<string>尾波滑水</string>
		<string>羽毛球</string>
		<string>赛车运动</string>
		<string>相扑</string>
		<string>帆伞运动</string>
		<string>跳伞运动</string>
		<string>跆拳道</string>
		<string>皮纳塔</string>
		<string>桌上足球</string>
		<string>卡丁车</string>
		<string>扑克牌戏</string>
		<string>皮艇</string>
		<string>游泳</string>
		<string>全地形车</string>
		<string>海滩</string>
		<string>飞镖靶</string>
		<string>田径</string>
		<string>露营</string>
		<string>龙卷风</string>
		<string>台球</string>
		<string>橄榄球</string>
		<string>飞行特技表演</string>
	</array>
</dict>
</plist>
