<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>192.168.0.0/16</string>
        <string>10.0.0.0/8</string>
        <string>172.16.0.0/12</string>
        <string>127.0.0.1</string>
        <string>172.16.5.83</string>
        <string>172.16.2.31</string>
        <string>localhost</string>
        <string>*.local</string>
        <string>*.crashlytics.com</string>

        <!-- 稿定 -->
        <string>*.gaoding.com</string>
        <string>*.fe.gaoding.com</string>
        <string>*.gaoding.cn</string>
        <string>*.huanleguang.com</string>
        <string>*.hlgdata.com</string>
        <string>*.dancf.com</string>
        <string>*.udesk.cn</string>

        <!-- 知乎 -->
        <string>*.zhihu.com</string>
        <string>*.zhimg.com</string>

        <!-- 掘金 -->
        <string>*.bytescm.com</string>
        <string>juejin.cn</string>
        <string>*.juejin.cn</string>

        <!-- b 站 -->
        <string>*.bilibili.com</string>
        <string>*.szbdyd.com</string>
        <string>*.hdslb.com</string>
        <string>*.bilivideo.com</string>

        <!-- 腾讯视频 -->
        <string>*.gtimg.cn</string>
        <string>*.cdn-go.cn</string>
        <string>*.smtcdns.com</string>
        <string>*.qlogo.cn</string>

        <!-- 爱奇艺 -->
        <string>*.iqiyipic.com</string>
        <string>*.ssports.com</string>
        <string>*.zjcdn.com</string>
        <string>*.inter.71edge.com</string>
        <string>*.verycloud.cn</string>

        <!-- VSCode -->
        <string>*.visualstudio.com</string>
        <string>*.azure.cn</string>

        <!-- 钉钉 -->
        <string>*.dingtalkapps.com</string>
        <string>*.taobao.com</string>
        <string>*.dingtalk.com</string>
        <string>*.mmstat.com</string>
        <string>*.digitalcertvalidation.com</string>
        <string>*.alicdn.com</string>
        <string>*.cnzz.com</string>
        <string>*.alibaba.com</string>
        <string>*.mxhichina.com</string>
        <string>*.aliyun.com</string>
        <string>*.aliyuncs.com</string>
        <string>*.alipay.com</string>
        <string>*.effirst.com</string>
        <string>*.h2fish.com</string>

        <!-- 百度 -->
        <string>*.baidu.com</string>
        <string>*.bdstatic.com</string>
        <string>*.bdimg.com</string>
        <string>*.bcebos.com</string>
        <string>*.cdn.bcebos.com</string>

        <!-- CSDN -->
        <string>*.csdn.net</string>
        <string>*.csdnimg.cn</string>
        <string>*.tingyun.com</string>

        <!-- 博客园 -->
        <string>*.cnblogs.com</string>

        <!-- 简书 -->
        <string>*.jianshu.io</string>
        <string>*.jianshu.com</string>

        <!-- .segmentfault -->
        <string>*.segmentfault.com</string>

        <string>*.k6dm.com</string>
        <string>*.azure.cn</string>
        <string>*.googleapis-cn.com</string>
        <string>*.qq.com</string>
        <string>*.npmmirror.com</string>
        <string>*.iqiyi.com</string>
        <string>*.antdv.com</string>
        <string>*.iconfont.cn</string>
        <string>easyv.cloud</string>
        <string>*.easyv.cloud</string>
        <string>*.yuque.com</string>
        <string>*.sinaimg.cn</string>
        <string>*.qpic.cn</string>
        <string>*.infinitynewtab.com</string>
        <string>www.adobe.com</string>
        <string>*.icloud.com.cn</string>
        <string>*.cn</string>
        <string>*.wechat.com</string>
        <string>*.sogou.com</string>
        <string>*.feilian-test.tech</string>
    </array>
</plist>